__pycache__/
*.py[cod]
*.so
*.log
*.sqlite3
*.env
*.env.*
*.DS_Store

.ipynb_checkpoints/

*.pth
*.pt
*.ckpt
*.onnx

runs/
events.out.tfevents.*

.multirun/
outputs/
logs/

lightning_logs/

venv/
ENV/
env/
.venv/

.vscode/
.idea/
*.egg*/

.cache/

/dataset/
/checkpoints/
/pretrained_models/