__pycache__/
*.py[cod]
*.so
*.log
*.sqlite3
*.env
*.env.*
*.DS_Store

.ipynb_checkpoints/

*.pth
*.pt
*.ckpt
*.onnx

runs/
events.out.tfevents.*

.multirun/
outputs/
logs/

lightning_logs/

venv/
ENV/
env/
.venv/

.vscode/
.idea/

data/
dataset/
.cache/

/checkpoint/
/beat_detection/checkpoint/
/pretrained_models/
/infer/src/
/infer/output/
/infer/test/
/evaluation/